@import url(fonts.css);

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.about_mdx_section {
	max-width: 100%;
	margin: auto;
	min-height: 100vh;
	background-image: url('..//img/pattern.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;	
}

.about_mdx_container {
	min-height: 100vh;
	width: 80%;
	display: block;
	padding-top: 100px;
	margin: auto;
	margin-left: 100px;
}

.about_mdx_content-section {
	float: left;
	width: 60%;
	padding: 70px 0 20px 40px;
}

.about_mdx_content-section .about_mdx_title h2 {
	font-family: "Open SansSubset",sans-serif;
	font-size: 50px;
	color: #4a4a4d;
	font-weight: 600; 
}

.point {
	color: #8c7568;
}

.second-separator {
	width: 80px;
	margin-top: 5px;
}

.about_mdx_content-section .about_mdx_content .first-paragraph {
	margin-top: 15px;
	font-family: "RobotoSubset",sans-serif;
    font-size: 19px;
    line-height: 1.58;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #4a4a4d;
}

.about_mdx_content-section .about_mdx_content .second-paragraph {
	margin-top: 15px;
	color: #7d7d7d;
	font-size: 17px;
    line-height: 1.73;
    font-weight: 400;
	font-family: "Open SansSubset",sans-serif;
}

.about_mdx_content-section .social {
	margin: 30px 0 0 0;
}

.about_mdx_content-section .social i {
	color:#8C7568;
	font-size: 30px;
	padding:0px 5px;
}

.about_mdx_content-section .social i:hover {
	/* color:#3d3d3d; */
	color: #343436;
    opacity: 0.8;
}

.about_mdx_buttons {
	margin-top: 20px;
}

.second-button {
    display: inline-block;
    position: relative;  
	background-color: white; 
    color:#8C7568;  
    border: 2px solid #8C7568;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
	margin-right: 15px;
}

.second-button:hover {
    background-color: #8C7568;
    color: white;
}
 
.third-button {
    display: inline-block;
    position: relative; 
    background-color: #8C7568; 
    color: white;  
    border: 2px solid #8C7568;
    padding: 13px 45px;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.third-button:hover {
    background-color: #343436;
    color: white;
    border: 2px solid #343436;
}


@media screen and (max-width: 768px){
	.about_mdx_section {
		width: 100%;
		display: block;
		min-height: 100vh;
		margin: 0 auto;
		padding-top: 30px;
	}

	.about_mdx_container {
		max-width: 80%;
		min-height: 100vh;
		display: block;
   }

	.about_mdx_content-section {
		float:none;
		width:100%;
		margin: 0 auto;
	}

	.about_mdx_content-section .about_mdx_title h2 {
		margin-top: -30px;
		text-align: left;
		font-size: 35px;
	}

	.second-separator {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 60px;
	}

	.about_mdx_content-section .about_mdx_content .first-paragraph {
		margin-top: 5px;
		font-size: 16px;
		line-height: 1.58;
		font-weight: 600;
	}

	.about_mdx_content-section .about_mdx_content .second-paragraph {
		font-size: 16px;
		line-height: 1.73;
		font-weight: 400;
	}

	.about_mdx_content-section .social {
		text-align: left;
	}

	.about_mdx_buttons {
		margin-top: 20px;
	}

	.second-button {
		width: 100%;
		margin-bottom: 15px;
	}

	.third-button
{
		width: 100%;
	}

}

@media screen and (device-width: 1024px) { 
	.about_mdx_section { 
		width: 100%; 
		padding: 0;
		margin: auto;
    } 
	.about_mdx_container { 
		width: 980px;
		min-height: 100vh; 
		display: block; 
		margin:auto; 
		padding-top:30px; 
		margin-top: 80px;
		 
	} 
 } 
 
@media screen and (device-width: 1280px) { 
	.about_mdx_section { 
		width: 100%;	
		margin:auto; 
		padding: 0; 
	} 

	.about_mdx_container { 
		width: 1100px;
		min-height: 100vh; 
		display: block; 
		margin:auto; 
		padding-top:50px; 
		margin-top:30px; 	 
	} 
}

@media screen and (min-device-width: 1600px) { 
	.about_mdx_section { 
		width: 100%; 
	 	margin:auto; 
		padding: 0; 
    } 

	.about_mdx_container { 
		width: 1500px;
		min-height: 100vh; 
		display: block; 
		margin:auto; 
		padding-top:30px; 
	} 
}